.eyecatch
  .eyecatch_inner
    - if controller_name == 'genres' && action_name == 'articles'
      - if @genre.image.present?
        = image_tag @genre.image.variant(resize_to_fit: [300, 300])
      - else
        %img{:src => "http://placehold.it/200x200"}/
    - else
      = image_tag 'homeimg.png'
    - if controller_name == 'genres' && action_name == 'articles'
      .text_area
        %p.title=@genre.title
        %p.text=@genre.text
        %ul.tags
          - @genre.genre_recommend_tags.each do |tag|
            %li.tag
              = link_to tag.title, articles_search_path(keyword: tag.title)
    - else
      .text_area
        %p.title ホーム
        %p.text 世界の不思議で怪奇なお話を集めたサイトです、世界の真実をあなたに！この世は不思議で満ち溢れています。
.contents
  .left_sidebar
    %h5 記事
    %ul.categories
      - if controller_name == 'articles' && action_name == 'index'
        - active = true
      - else
        - active = false
      %li{ class: "#{active ? 'active' : ''}"}
        = link_to root_path do
          %img{:src => "http://placehold.it/20x20"}>/
          ホーム
      - Genre.all.order(order_number: :asc).each do |genre|
        - if controller_name == 'genres' && action_name == 'articles' && @genre.id == genre.id
          - active = true
        - else
          - active = false
        %li{ class: "#{active ? 'active' : ''}"}
          = link_to articles_genre_path(genre.id) do
            - if genre.icon.present?
              = image_tag genre.icon.variant(resize_to_fit: [20, 20])
            - else
              %img{:src => "http://placehold.it/20x20"}>/
            = genre.title
  .articles_area
    - if controller_name == 'genres' && action_name == 'articles'
      %h4="#{@genre.title}の記事一覧"
    - else 
      %h4="記事一覧"
    .order_change_area
      - if /order=pv/ =~ request.url
        = link_to '新着', "#{request.path_info}"
        %p.active{:href => "#"} 人気順
      - else
        %p.active{:href => "#"} 新着
        = link_to '人気順', "#{request.path_info}?order=pv"
    = render 'articles/articles'
    .paginate
      .page_entries_info
        = page_entries_info @articles
      .pagination
        = paginate @articles
  = render 'articles/right_sidebar'
