- content_for :title do
  = @article.title + ' | ねこの怪奇ファイル'
.contents.show
  .articles_area
    .title_area
      %h1=@article.title
      %p.text=@article.eyecatch
      %ul.tags
        - @article.tags.each do |tag|
          %li.tag
            = link_to tag.title, articles_search_path(keyword: tag.title)
      .count_area
        %p.count_text
          %span.count=@article.pv_count
          View
      - if @article.image.present?
        = image_tag @article.image.variant(resize_to_fit: [600, 600])
    = link_to 'Edit', edit_article_path(@article)
    = link_to 'Destroy', article_path, method: :delete, data: { confirm: 'Are you sure?' }
    .article
      = raw CGI.unescape_element @article.content.to_s, ['iframe', 'blockquote', 'p', 'a']
      -# = @article.content
    .related_post
      %h4 関連する記事
      %ul.articles
        - @relateArticles.each do |article|
          %li
            = link_to article do
              - if article.image.present?
                = image_tag article.image.variant(resize_to_fit: [150, 150])
              - else
                %img{:src => "http://placehold.it/100x100"}/
              .text_area
                %p.title= article.title
                %p.text= truncate(article.eyecatch, length: 100)
  = render 'right_sidebar'
%script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
