!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WebMedia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
  %body
    %nav.navbar_lg
      - search_params = ""
      - if @search_params.present?
        - search_params = @search_params
      .search_form
        = form_with(url: articles_search_path, local: true, method: :get, class: 'form') do |f|
          = f.text_field :keyword, value: search_params, class: 'search_text', placeholder: '気になるワードを入力'
          %input.search_button{:type => "submit", :value => ""}/
      = link_to root_path do
        %img{:src => "http://placehold.it/200x50"}/
      .link_area
        - if user_signed_in?
          = link_to '新規登録', new_article_path
          = link_to 'マイページ', user_path(current_user.id)
          = link_to 'プロフィール変更', edit_user_path(current_user.id)
          = link_to ' ログアウト', destroy_user_session_path, method: :delete
        - else
          %a{:href => "#"} 無料会員登録
          = link_to 'ログイン', new_user_session_path
    .navbar.navbar_min
      .logo_area
        %img{:src => "https://placehold.it/150x40/?text=SiteLogo"}/
      %nav#min_navbar.global-nav
        %ul.global-nav__list.categories
          %li.active
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              ホーム
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              ファッション
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              メイク・コスメ
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              ヘアスタイル
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              ネイル
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              美容
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              ライフスタイル
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              恋愛
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              グルメ
          %li
            %a{:href => "#"}
              %img{:src => "http://placehold.it/20x20"}>/
              旅行・おでかけ
      #js-hamburger.hamburger
        %span.hamburger__line.hamburger__line--1
        %span.hamburger__line.hamburger__line--2
        %span.hamburger__line.hamburger__line--3
      #js-black-bg.black-bg
    .container
      = yield
    %footer
      %p.copyright Copyright © 2020-2021 ○○○○ All Rights Reserved.
      %p 当サイト内の文章・画像等の無断転載及び複製等の行為は禁じます。

:javascript
  function toggleNav() {
    var body = document.body;
    var hamburger = document.getElementById('js-hamburger');
    var blackBg = document.getElementById('js-black-bg');

    hamburger.addEventListener('click', function() {
      body.classList.toggle('nav-open');
    });
    blackBg.addEventListener('click', function() {
      body.classList.remove('nav-open');
    });
  }
  toggleNav();